body {
  background-color: black;
}

h1{
  padding: 0px;
  margin: 0px;
  color: green;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
}

/*div#myFlexbox {
  display: -ms-flexbox;
  background-color: black;
  border: green;
  -ms-flex-direction: row;
  -ms-flex-align: start;
}

aside.explain {
  position: relative;
  flex-wrap: wrap;
  text-align: right;
  background-color: green;
}*/

div#board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: auto;
  background: url("../images/board.jpg") no-repeat;
}

div#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(83, 175, 19);
}

table {
  position: absolute;
  left: 173px;
  top: 98px;
  border-spacing: 0px;
}

td {
  width: 94px;
  height: 94px;
}

form {
  position: absolute;
  bottom: 35px;
  right: -150px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}

form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}

.hit {
  background: url("../images/ship.png") no-repeat center center;
}

.miss {
  background: url("../images/miss.png") no-repeat center center;
}
